/* 
    Document   : newcss
    Created on : Nov 14, 2016, 10:04:59 AM
    Author     : s362356
    Description:
        Purpose of the stylesheet follows.
*/

body {
    background-color: lightblue;
}
h1 {
    color: blue;
}
p {
    color: red;
}

